FAVORIOT NodeRED With MQTT/FlowNodeRED
[
    {
        "id": "d64cb7b3d3cbb770",
        "type": "tab",
        "label": "T-Beam NodeRED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be6c94d12cb16ea3",
        "type": "mqtt in",
        "z": "d64cb7b3d3cbb770",
        "name": "",
        "topic": "TTGO/Data",
        "qos": "2",
        "datatype": "auto",
        "broker": "1fb61b305b74c3b5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 280,
        "wires": [
            [
                "e679e19a2672375b"
            ]
        ]
    },
    {
        "id": "e3182ddeb7e532b2",
        "type": "debug",
        "z": "d64cb7b3d3cbb770",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "e679e19a2672375b",
        "type": "json",
        "z": "d64cb7b3d3cbb770",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "7b27683427af4c42",
                "90b35efd9d18511f"
            ]
        ]
    },
    {
        "id": "7b27683427af4c42",
        "type": "function",
        "z": "d64cb7b3d3cbb770",
        "name": "",
        "func": "msg.payload = msg.payload.humidity; //put only the VALUE in payload\nmsg.topic = \"humidity\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 280,
        "wires": [
            [
                "4471538c7ee37985",
                "e3182ddeb7e532b2",
                "faa2ff9a57fc48ee"
            ]
        ]
    },
    {
        "id": "4471538c7ee37985",
        "type": "ui_chart",
        "z": "d64cb7b3d3cbb770",
        "name": "",
        "group": "29faba45fd46ba8f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "90b35efd9d18511f",
        "type": "function",
        "z": "d64cb7b3d3cbb770",
        "name": "",
        "func": "msg.payload = msg.payload.temperature; //put only the VALUE in payload\nmsg.topic = \"temperature\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 420,
        "wires": [
            [
                "22cbc55e18c35c8c",
                "411948c8cc5d0302",
                "527d9dc9ea490ad6"
            ]
        ]
    },
    {
        "id": "527d9dc9ea490ad6",
        "type": "debug",
        "z": "d64cb7b3d3cbb770",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "22cbc55e18c35c8c",
        "type": "ui_gauge",
        "z": "d64cb7b3d3cbb770",
        "name": "",
        "group": "35e509f878d1b9c9",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "411948c8cc5d0302",
        "type": "ui_chart",
        "z": "d64cb7b3d3cbb770",
        "name": "",
        "group": "35e509f878d1b9c9",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "faa2ff9a57fc48ee",
        "type": "ui_gauge",
        "z": "d64cb7b3d3cbb770",
        "name": "",
        "group": "29faba45fd46ba8f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "70",
        "className": "",
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "1fb61b305b74c3b5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "public.mqtthq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "29faba45fd46ba8f",
        "type": "ui_group",
        "name": "Humidity Statistic",
        "tab": "8b6a2950dc02c8b8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "35e509f878d1b9c9",
        "type": "ui_group",
        "name": "Temperature Statistic",
        "tab": "8b6a2950dc02c8b8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b6a2950dc02c8b8",
        "type": "ui_tab",
        "name": "Monitoring System",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
